/**
 * @name Radion Theme BD
 * @description Radion's (C) official Better Discord theme. (Based on Radion color schemes, and "Dusk" Theme from Discord)
 * @version 2.0.0
 * @author LS_Wartaal
 * @invite 87BC7wApsZ
 * @website https://drive.google.com/file/d/1GZJEijiq4_iTtm1HqkEJ6q_heHYykw22/view?usp=sharing
 * @source https://github.com/LS-Wartaal/Radion-BD-Theme/blob/master/radion_theme.theme.css
 * @authorId 817767356973580298
 * @authorLink https://discordapp.com/users/817767356973580298
 */

/* CHECK DOWN BELOW FOR USER AGREEMENT */
/* https://drive.google.com/file/d/1GZJEijiq4_iTtm1HqkEJ6q_heHYykw22/view?usp=sharing */


:root {
    --background-primary: linear-gradient(180deg, rgba(21,16,21,1) 0%, rgba(29,33,42,1) 100%);
    --background-secondary: #16181f;
    --background-secondary-alt: #16191f;
    --background-tertiary: #332834 !important;
    --background-accent: #ffffff !important;
    --background-floating: #ffffff !important;
    --background-mentioned: #4d4a34;
    --background-mentioned-hover: #6d694c;
    --text-normal: #dcddde;
    --text-muted: #ffffff; 
    --text-link: #fce38f; 
    --text-accent: #ffffff;
    --interactive-normal: #ffdc6b;
    --interactive-hover: #ffffff;
    --interactive-active: #ffffff;
    --interactive-muted: #74673c;
    --brand-experiment: #7289da;
    --brand: #8389c7;
    --status-positive: #43b581;
    --status-warning: #ffc664;
    --status-danger: rgb(0, 0, 0);
    --status-boost: #ff00f7;
    --status-online: red;
    --channels-default: #d8d8d8; 
    --channels-hover: #b9bbbe;
    --channels-selected: #ffffff;
    --shadow: rgba(255, 255, 255, 0.6);
    --scrollbar-thin-thumb: #fce38f;
    --scrollbar-thin-track: #4d4a34;
    --scrollbar-auto-thumb: #fce38f;
    --scrollbar-auto-track: #4d4a34;
    --new-messages-bar: black;
}



/* Message input container */
.scrollableContainer_d0696b.themedBackground_d0696b {
    background-color: #000000;
    color: white; 
}

.placeholder_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b {
    color: #fce38f;
}

.buttonsInner_d5deea.wrapper_ef319f {
    background-color: #4d4a34;
}
/* Code Block ("part of") */
.syntaxBefore_cdb578.before_inlineCode_cdb578 {
    background-color: rgb(117, 95, 34);
}

.inlineCode_cdb578 {
    background-color: rgb(117, 95, 34);
    color: #fce38f;
}

.syntaxAfter_cdb578.after_inlineCode_cdb578 {
    background-color: rgb(117, 95, 34);
}



/* Thread items */
.icon_fc4f04 {
    color: #fce38f;
}

.channelTextAreaInner_c1668f.scrollableContainer_d0696b.themedBackground_d0696b {
    background: #3e3a30;
}

.children_fc4f04:after {
    background: #ffffff00 !important;
}

.title_a7d72e.forumOrHome_ff5f90.container_fc4f04.themed_fc4f04 {
    background: #3f3820;
}

.container_a6d69a {
    background-color: rgb(56, 50, 32);
}

.submitButton_c1668f.button_dd4f85.lookFilled_dd4f85.colorBrand_dd4f85.sizeSmall_dd4f85.grow_dd4f85 {
    background-color: black;
}



/* Window related items */
.wordmarkWindows_a934d8.wordmark_a934d8, .winButtonClose_a934d8.winButton_a934d8 {
    color: #fce38f;
}

.winButtonClose_a934d8.winButton_a934d8 {
    color: #fce38f;
}

.winButtonMinMax_a934d8.winButton_a934d8 {
    color: #fce38f;
}

.typeWindows_a934d8, .bg_d4b6c5
{
    background-color: #332834;
}

.wordmark_a934d8{pointer-events:unset;padding:0}.wordmark_a934d8>svg{display:none}.wordmark_a934d8::after{
    position: absolute;
    top: 2px; 
    padding: 4px 9px 3px;
    font-size: 12px;
    letter-spacing: .4px;
    white-space: nowrap;
    font-family: var(--font-headline) !important;
    content:var(--modtitle-text)}

:root {
    --modtitle-text: "RadionTheme" !important;
} 



/* UNKNOWN */
.message-accessories-1251215261533474950 {
    background-color: black;
}

.theme-dark.container_fc4f04.themed_fc4f04 {
    background-color: #4d4a34;
}

.mainPageScroller_ed2e7b.auto_c49869.scrollerBase_c49869 {
    background-color: #86815b;
}

.item_d25d19.deny_d25d19.selected_d25d19 {
    background: red;
}

.newMessagesBar_cf58b5.barBase_cf58b5 {
    background: black;
}

.barButtonMain_cf58b5.barButtonBase_cf58b5, .barButtonAlt_cf58b5.barButtonBase_cf58b5 {
    color: #fce38f;
}

.numberBadge_df8943.base_df8943.eyebrow_df8943.baseShapeRound_df8943 {
    background: #fce38f !important;
    color: #3f3820;
}

.content_c2654d {
    color: white !important;
}



/* Icon related items */
.wrapper__8436d:hover .childWrapper_f90abb, .childWrapper_f90abb {background-color: black;}
#app-mount .tutorialContainer_f9623d .childWrapper_f90abb {
    background-image: url('https://i.imgur.com/f8CtqhN_d.webp?maxwidth=760&fidelity=grand');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.childWrapper_f90abb svg {display: none;}



/* Response/ping message */
.message_d5deea.cozyMessage_d5deea.mentioned_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca {
    background: black !important;
}

.message_d5deea.cozyMessage_d5deea.mentioned_d5deea.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca:before {
    background: red !important;
}

.repliedMessage_f9f2ca:before {
    border-color: #fce38f;
}



/* New Date devider */
.divider_d5deea.hasContent_d5deea {
    border-width: 4px;
    border-color: #16181f;
    color: #16181f; 
}


.content_c2654d {
    background: #16181f;
    background-color: #16181f; 
}



/* New Unreads bar */
.bar_eba0ba.unreadPill_c2654d.endCap_c2654d {
    background-color: #485168 !important;
    color: #fce38f;
}

.divider_d5deea.beforeGroup_d5deea.divider_c2654d.isUnread_c2654d.unreadPill_c2654d.endCap_c2654d {
    background-color: #485168 !important;
    color: #fce38f;
}



/* "Pinned Messages" */
.messagesPopout_ac90a2.thin_c49869.scrollerBase_c49869 {
    background-color: black;
}

.messageGroupCozy_ac90a2.wrapper_f9f2ca.cozy_f9f2ca.zalgo_f9f2ca {
    background-color: #16181f;
}

.header_ac90a2 {
    background-color: black;
}



/* General styling */
.wrapper_fea3ef.guilds_a4d4d9 {
    background: linear-gradient(180deg, rgba(51,40,52,1) 0%, rgba(72,81,104,1) 100%);
}

.expandedFolderBackground_bc7085 {
    background-color: #585c70;
}

.attachment_b52bef.newMosaicStyle_b52bef.embedWrapper_b558d0.mosaicItemContent_e5c1dc {
    background-color: #1e1a22;
    border-radius: 10px !important;
    border-color: white;
}

.theme-dark.images-dark.container_fc4f04.themed_fc4f04 {
    background-color: #1f181f;
}

.gridContainer_b0068a {
    background-color: #485168;
}

.memberInner_a31c43.layout_e9f61e {
    background-color: linear-gradient(180deg, rgba(21,16,21,1) 0%, rgba(29,33,42,0) 100%) !important;
}


/* Edited message */
.edited_f9f2ca {
    color: #fce38f !important;
}