/**
 * @name Radion Theme BD
 * @description Radion's (C) official Better Discord theme. (Based on Radion color schemes)
 * @version 1.3.4
 * @author LS_Wartaal
 * @invite 87BC7wApsZ
 * @website https://drive.google.com/file/d/1GZJEijiq4_iTtm1HqkEJ6q_heHYykw22/view?usp=sharing
 * @source https://github.com/LS-Wartaal/Radion-BD-Theme/blob/master/radion_theme.theme.css
 * @authorId 817767356973580298
 * @authorLink https://discordapp.com/users/817767356973580298
 */

/* CHECK DOWN BELOW FOR USER AGREEMENT */
/* https://drive.google.com/file/d/1GZJEijiq4_iTtm1HqkEJ6q_heHYykw22/view?usp=sharing */


:root {
    --background-primary: linear-gradient(73deg, rgba(77,74,52,1) 0%, rgba(150,144,102,1) 84%, rgba(199,184,122,1) 100%);
    --background-secondary: #4d4a34;
    --background-secondary-alt: #3f3820;
    --background-tertiary: #202225;
    --background-accent: #74673c;
    --background-floating: rgb(117, 95, 34);
    --background-mentioned: #4d4a34;
    --background-mentioned-hover: #6d694c;
    --text-normal: #dcddde;
    --text-muted: #ffffff; 
    --text-link: #fce38f; 
    --text-accent: #ffffff;
    --interactive-normal: #ffdc6b;
    --interactive-hover: #ffffff;
    --interactive-active: #ffffff;
    --interactive-muted: #74673c;
    --brand-experiment: #7289da;
    --brand: #8389c7;
    --status-positive: #43b581;
    --status-warning: #ffc664;
    --status-danger: rgb(0, 0, 0);
    --status-boost: #ff00f7;
    --status-online: red;
    --channels-default: #d8d8d8; 
    --channels-hover: #b9bbbe;
    --channels-selected: #ffffff;
    --shadow: rgba(255, 255, 255, 0.6);
    --scrollbar-thin-thumb: #fce38f;
    --scrollbar-thin-track: #4d4a34;
    --scrollbar-auto-thumb: #fce38f;
    --scrollbar-auto-track: #4d4a34;
    --new-messages-bar: black;
    --discord-icon: none;
    --home-icon: block;
    --home-icon-url: url(https://i.imgur.com/xTDQb1J.png)
}

.scrollableContainer_d0696b.themedBackground_d0696b {
    background-color: #000000;
    color: white; 
}

.channelTextAreaInner_c1668f.scrollableContainer_d0696b.themedBackground_d0696b {
    background: #4d4a34;
}

.title_a7d72e.forumOrHome_ff5f90.container_e44302.themed_e44302 {
    background: #3f3820;
}

.placeholder_a552a6.slateTextArea_e52116.fontSize16Padding_d0696b {
    color: #fce38f;
}

.buttonsInner_d5deea.wrapper_ef319f {
    background-color: #4d4a34;
}

.container_a6d69a {
    background-color: rgb(56, 50, 32);
}


/* Window related items */
.wordmarkWindows_a934d8.wordmark_a934d8, .winButtonClose_a934d8.winButton_a934d8 {
    color: #fce38f;
}

.winButtonClose_a934d8.winButton_a934d8 {
    color: #fce38f;
}

.winButtonMinMax_a934d8.winButton_a934d8 {
    color: #fce38f;
}

.typeWindows_a934d8, .bg_d4b6c5
{
    background-color: #241F0F;
}

/* Icon related items */
.wrapper__8436d path {
    display: none;
}
    
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .wrapper__8436d .childWrapper_a6ce15 {
    background: url('https://cdn.discordapp.com/attachments/1137807597546786968/1242546133176287252/Radion_ROUND.png?ex=666ddec3&is=666c8d43&hm=dc5b297da83c1a7589b5d75c6fbe0c126db243475ca4ccfb2c772f00189058b8&') center/cover no-repeat;
    background-size: 80%;
    min-width: 60px;
    min-height: 60px;
}


.message-accessories-1251215261533474950 {
    background-color: black;
}

.bar_eba0ba {
    background-color: black;
}

.submitButton_c1668f.button_dd4f85.lookFilled_dd4f85.colorBrand_dd4f85.sizeSmall_dd4f85.grow_dd4f85 {
    background-color: black;
}

.expandedFolderBackground_bc7085 {
    background-color: rgb(63, 63, 63);
}

.wrapper__8436d:hover .childWrapper_f90abb, .childWrapper_f90abb {background-color: black;}
#app-mount .tutorialContainer_f9623d .childWrapper_f90abb {
    background-image: url('https://i.imgur.com/f8CtqhN_d.webp?maxwidth=760&fidelity=grand');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.childWrapper_f90abb svg {display: none;}

.message_d5deea.cozyMessage_d5deea.mentioned_d5deea.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa {
    background: black !important;
}

.message_d5deea.cozyMessage_d5deea.mentioned_d5deea.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa:before {
    background: red !important;
}


.divider_d5deea.hasContent_d5deea {
    border-width: 4px;
    border-color: black;
}

.repliedMessage_ec86aa:before {
    border-color: #fce38f;
}

.content_fc5f50 {
    background: black;
    color: #fce38f; 
}

.syntaxBefore_cdb578.before_inlineCode_cdb578 {
    background-color: rgb(117, 95, 34);
}

.inlineCode_cdb578 {
    background-color: rgb(117, 95, 34);
    color: #fce38f;
}

.syntaxAfter_cdb578.after_inlineCode_cdb578 {
    background-color: rgb(117, 95, 34);
}

.messagesPopout_ac90a2.thin_c49869.scrollerBase_c49869 {
    background-color: black;
}

.messageGroupCozy_ac90a2.wrapper_ec86aa.cozy_ec86aa.zalgo_ec86aa {
    background-color: #4d4a34;
}

.header_ac90a2 {
    background-color: black;
}

.theme-dark.container_e44302.themed_e44302 {
    background-color: #4d4a34;
}

.mainPageScroller_ed2e7b.auto_c49869.scrollerBase_c49869 {
    background-color: #86815b;
}

.item_e3c4bb.deny_e3c4bb.selected_e3c4bb {
    background: red;
}

.newMessagesBar_cf58b5.barBase_cf58b5 {
    background: black;
}

.barButtonMain_cf58b5.barButtonBase_cf58b5, .barButtonAlt_cf58b5.barButtonBase_cf58b5 {
    color: #fce38f;
}

.numberBadge_df8943.base_df8943.eyebrow_df8943.baseShapeRound_df8943 {
    background: #fce38f !important;
    color: #3f3820;
}

.content_fc5f50 {
    color: white !important;
}

.wrapper_fea3ef.guilds_a4d4d9 {
    background: #241F0F;
}

.edited_ec86aa {
    color: red !important;
}